In [164]:
import pandas as pd
import numpy as np

In [228]:
df_elec = pd.read_csv("Electricity.csv")
df_oil = pd.read_csv("Oil.csv")
df_gaz = pd.read_csv("NaturalGaz.csv")

In [242]:
def clean(df,commodity):
    table = df[df["Commodity - Transaction"] == commodity]
    table.set_index("Country or Area")
    table.Year = table.Year.astype(int)
    df_table = table.pivot_table(values = ["Quantity"], index=['Country or Area'], columns=['Year'])
    df_table = df_table.dropna(thresh = 27)
    return df_table

In [243]:
commodities = np.unique(df["Commodity - Transaction"].values)
commodities

array(['Electricity - Consumption by chemical and petrochemical',
       'Electricity - Consumption by commercial and public services',
       'Electricity - Consumption by construction',
       'Electricity - Consumption by food and tobacco',
       'Electricity - Consumption by households',
       'Electricity - Consumption by iron and steel',
       'Electricity - Consumption by machinery',
       'Electricity - Consumption by manufacturing, construction and non-fuel industry',
       'Electricity - Consumption by mining and quarrying',
       'Electricity - Consumption by non-ferrous metals',
       'Electricity - Consumption by non-metallic minerals',
       'Electricity - Consumption by other',
       'Electricity - Consumption by other manuf., const. and non-fuel ind.',
       'Electricity - Consumption by paper, pulp and print',
       'Electricity - Consumption by pipeline transport',
       'Electricity - Consumption by rail',
       'Electricity - Consumption by road',
       'Electricity - Consumption by textile and leather',
       'Electricity - Consumption by transport',
       'Electricity - Consumption by transport equipment',
       'Electricity - Consumption by wood and wood products',
       'Electricity - Consumption in agriculture, forestry and fishing',
       'Electricity - Consumption not elsewhere specified (industry)',
       'Electricity - Consumption not elsewhere specified (other)',
       'Electricity - Consumption not elsewhere specified (transport)',
       'Electricity - Energy industries own use',
       'Electricity - Final energy consumption',
       'Electricity - Gross demand', 'Electricity - Gross production',
       'Electricity - Losses',
       'Electricity - Other energy industry own use',
       'Electricity - Own use by LNG/regasification plants',
       'Electricity - Own use by blast furnaces',
       'Electricity - Own use by briquetting plants',
       'Electricity - Own use by charcoal plants',
       'Electricity - Own use by coal liquefaction plants',
       'Electricity - Own use by coal mines',
       'Electricity - Own use by coke ovens',
       'Electricity - Own use by electricity, heat and CHP plants',
       'Electricity - Own use by gas works',
       'Electricity - Own use by gas-to-liquid (GTL) plants',
       'Electricity - Own use by nuclear fuel extraction and processing',
       'Electricity - Own use by oil and gas extraction',
       'Electricity - Own use by oil refineries',
       'Electricity - Own use by pump-storage plants',
       'Electricity - Used for electric boilers',
       'Electricity - Used for heat pumps', 'Electricity - exports',
       'Electricity - imports', 'Electricity - net production',
       'Electricity - total production, autoproducer',
       'Electricity - total production, main activity', 'Estimate',
       'Footnote', 'From chemical heat – Autoproducer',
       'From chemical heat – Autoproducer – CHP plants',
       'From chemical heat – Autoproducer – Electricity plants',
       'From chemical heat – Main activity',
       'From chemical heat – Main activity – CHP plants',
       'From chemical heat – Main activity – Electricity plants',
       'From combustible fuels – Autoproducer',
       'From combustible fuels – Autoproducer – CHP plants',
       'From combustible fuels – Autoproducer – Electricity plants',
       'From combustible fuels – Main activity',
       'From combustible fuels – Main activity – CHP plants',
       'From combustible fuels – Main activity – Electricity plants',
       'From other sources – Autoproducer',
       'From other sources – Autoproducer – CHP plants',
       'From other sources – Autoproducer – Electricity plants',
       'From other sources – Main activity',
       'From other sources – Main activity – CHP plants',
       'From other sources – Main activity – Electricity plants',
       'Geothermal – Autoproducer',
       'Geothermal – Autoproducer – CHP plants',
       'Geothermal – Autoproducer – Electricity plants',
       'Geothermal – Main activity',
       'Geothermal – Main activity – CHP plants',
       'Geothermal – Main activity – Electricity plants',
       'Hydro – Autoproducer', 'Hydro – Main activity',
       'Nuclear – Autoproducer',
       'Nuclear – Autoproducer – Electricity plants',
       'Nuclear – Main activity', 'Nuclear – Main activity – CHP plants',
       'Nuclear – Main activity – Electricity plants',
       'Of which: Pumped hydro – Autoproducer',
       'Of which: Pumped hydro – Main activity',
       'Solar photovoltaic – Autoproducer',
       'Solar photovoltaic – Main activity',
       'Solar thermal – Autoproducer', 'Solar thermal – Main activity',
       'Solar – Autoproducer', 'Solar – Main activity',
       'Tide, wave and marine – Main activity', 'Wind – Autoproducer',
       'Wind – Main activity'], dtype=object)

In [244]:
food = clean(df_elec,"Electricity - Consumption by food and tobacco")

/home/imanea/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [245]:
transport = clean(df_elec,"Electricity - Consumption by transport")
transport

/home/imanea/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

                   Quantity                                               \
Year                   1990     1991     1992     1993     1994     1995
Country or Area
Algeria               275.0    308.0    309.0    314.0    298.0    323.0
Argentina             314.0    244.0    279.0    275.0    299.0    344.0
Australia            1808.0   1828.0   1878.0   1890.0   1932.0   1986.0
Austria              2770.0   3162.0   3243.0   3239.0   3239.0   3215.0
Belgium              1249.0   1276.0   1305.0   1360.0   1384.0   1464.0
Brazil               1194.0   1081.0   1192.0   1200.0   1176.0   1211.0
Bulgaria             1090.0    968.0    802.0    726.0    636.0    803.0
Canada               3269.0   3121.0   3410.0   3629.0   3684.0   3875.0
Chile                 212.0    223.0    226.0    250.0    217.0    200.0
China                5936.0   6569.0   7628.0  14623.0  16404.0  18230.0
Colombia                4.0      0.0      0.0      0.0      0.0      0.0
Cuba                    4.0      4.0      4.0      4.0      4.0     64.0
Denmark               204.0    199.0    195.0    212.0    226.0    237.0
Finland               425.0    425.0    435.0    450.0    480.0    465.0
France               7473.0   7475.0   7625.0   7490.0   7791.0   7734.0
Greece                125.0    123.0    130.0    125.0    138.0    149.0
Hungary              1186.0   1100.0   1064.0   1023.0   1001.0   1025.0
India                4139.0   4541.0   5090.0   5642.0   5907.0   6246.0
Ireland                16.0     17.0     17.0     18.0     18.0     18.0
Italy                6725.0   7051.0   7191.0   7158.0   7332.0   7751.0
Japan               16810.0  17816.0  17781.0  18150.0  18358.0  18755.0
Korea, Republic of   1012.0   1091.0   1175.0   1258.0   1446.0   1607.0
Luxembourg             55.0     59.0     63.0     71.0     75.0     77.0
Mexico                804.0    806.0    873.0    894.0    941.0    980.0
Nepal                   2.0      2.0      1.0      2.0      2.0      2.0
Netherlands          1286.0   1368.0   1398.0   1449.0   1456.0   1487.0
New Zealand            56.0     55.0     60.0     64.0     67.0     68.0

                                                         ...             \
Year                   1996     1997     1998     1999   ...       2008
Country or Area                                          ...
Algeria               338.0    354.0    365.0    365.0   ...      367.0
Argentina             420.0    437.0    475.0    517.0   ...      653.0
Australia            2064.0   2133.0   2181.0   2269.0   ...     4035.0
Austria              3255.0   3291.0   3340.0   3330.0   ...     3464.0
Belgium              1278.0   1264.0   1369.0   1404.0   ...     1723.0
Brazil               1150.0   1140.0   1170.0   1180.0   ...     1607.0
Bulgaria              811.0    620.0    552.0    603.0   ...      425.0
Canada               3839.0   4256.0   5185.0   5011.0   ...     4406.0
Chile                 200.0    210.0    208.0    193.0   ...      426.0
China               10325.0  11492.0  25563.0  25480.0   ...    57182.0
Colombia                0.0     43.0     46.0     46.0   ...       58.0
Cuba                   60.0     66.0     77.0     90.0   ...      279.0
Denmark               257.0    282.0    325.0    341.0   ...      378.0
Finland               470.0    495.0    515.0    520.0   ...      734.0
France               8563.0   8754.0   8969.0   9102.0   ...    10420.0
Greece                159.0    167.0    180.0    197.0   ...      239.0
Hungary              1034.0   1027.0    943.0    995.0   ...     1194.0
India                6620.0   6970.0   7332.0   8088.0   ...    12138.0
Ireland                19.0     23.0     24.0     25.0   ...       54.0
Italy                8123.0   8110.0   8275.0   8289.0   ...    10839.0
Japan               18706.0  18726.0  18714.0  18706.0   ...    18619.0
Korea, Republic of   1682.0   1761.0   1580.0   1730.0   ...     2220.0
Luxembourg             83.0     81.0     87.0     94.0   ...      113.0
Mexico                992.0    997.0   1000.0   1012.0   ...     1111.0
Nepal                   2.0      2.0      3.0      3.0   ...        5.0
Netherlands          1573.0   1578.0   1638.0   1648.0   ...     1624.0
New Zealand            70.0     69.0     67.0     69.0   ...       58.0

                                                                     \
Year                   2009       2010      2011     2012      2013
Country or Area
Algeria               540.0    634.000    696.00    783.0     796.0
Argentina             664.0    669.000    675.00    616.0     594.0
Australia            4252.0   3669.000   3835.00   4071.0    4774.0
Austria              3296.0   3212.000   3132.00   3066.0    3109.0
Belgium              1762.0   1736.000   1631.00   1581.0    1686.0
Brazil               1591.0   1662.000   1700.00   1785.0    1884.0
Bulgaria              467.0    399.000    367.00    302.0     277.0
Canada               4162.0   4083.000   4171.00   4269.0    5520.0
Chile                 422.0    432.000    478.00    500.0     536.0
China               66442.5  73452.899  84841.59  91536.9  100091.9
Colombia               60.0     62.000     63.00     65.0      75.0
Cuba                  264.0    251.000    254.00    258.0     295.8
Denmark               395.0    404.000    397.00    385.0     386.0
Finland               716.0    740.000    730.00    737.0     733.0
France              10079.0  10037.000  10810.00  11001.0   11124.0
Greece                232.0    183.000    184.00    189.0     267.0
Hungary              1201.0   1106.000   1117.00    983.0    1227.0
India               12408.0  14003.000  14327.00  14206.0   15447.0
Ireland                45.0     46.000     45.00     46.0      43.0
Italy               10535.0  10666.000  10793.00  10759.0   10775.0
Japan               18073.0  18244.000  17757.00  17675.0   17721.0
Korea, Republic of   2174.0   2191.000   2246.00   2250.0    2168.0
Luxembourg            112.0    120.000    129.00    129.0     129.0
Mexico               1116.0   1191.000   1122.00   1130.0    1130.0
Nepal                   5.0      6.000      7.00      8.0       6.0
Netherlands          1678.0   1756.000   1741.00   1763.0    1750.0
New Zealand            57.0     62.000     62.00     62.0      62.0


Year                     2014      2015      2016    2017
Country or Area
Algeria                867.00     974.0    1014.0  1069.0
Argentina              588.00     605.0     546.0     NaN
Australia             4770.00    5911.0    6284.0     NaN
Austria               3066.00    3114.0    3129.0     NaN
Belgium               1569.00    1585.0    1631.0     NaN
Brazil                1979.00    2055.0    2007.0  2055.0
Bulgaria               306.00     352.0     354.0     NaN
Canada                5556.00    6128.0    6910.0     NaN
Chile                  944.00    1088.0     986.0     NaN
China               105923.80  112560.8  125148.9     NaN
Colombia                77.00      81.0      96.0     NaN
Cuba                   302.40     312.0     287.2   293.3
Denmark                385.00     397.0     417.0     NaN
Finland                722.00     703.0     708.0     NaN
France               10828.00   10987.0   10784.0     NaN
Greece                 343.00     388.0     186.0     NaN
Hungary               1156.00    1171.0    1177.0     NaN
India                16177.00   16594.0   17217.0     NaN
Ireland                 40.00      43.0      49.0     NaN
Italy                10463.00   10856.0   11162.0     NaN
Japan                17604.00   17604.0   17604.0     NaN
Korea, Republic of    2003.00    2217.0    2689.0     NaN
Luxembourg             124.00     124.0     151.0     NaN
Mexico                1130.00    1134.0    1140.0     NaN
Nepal                    6.22       6.0       7.0     NaN
Netherlands           1716.00    1752.0    1871.0     NaN
New Zealand             62.00      63.0      62.0     NaN

[27 rows x 28 columns]

In [246]:
household = clean(df_elec,"Electricity - Consumption by households")
household

/home/imanea/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

                            Quantity                                      \
Year                            1990        1991        1992        1993
Country or Area
Afghanistan                 282.0000    250.0000    205.0000    203.0000
Albania                     300.0000    312.0000    479.0000    800.0000
Algeria                    6056.0000   6422.0000   7119.0000   7125.0000
American Samoa               24.0000     28.0000     26.0000     29.0000
Andorra                      60.0000     60.0000     60.0000     60.2000
Angola                      389.0000    426.0000    437.0000    439.0000
Anguilla                      4.8000      4.2000      5.6000      7.8000
Antigua and Barbuda          23.0000     25.0000     25.0000     25.0000
Argentina                 11265.0000  11534.0000  13022.0000  14684.0000
Aruba                       110.0000    105.0000     85.0000     97.0000
Australia                 38542.0000  39249.0000  39318.0000  40642.0000
Austria                   11878.0000  12603.0000  12772.0000  13141.0000
Bahamas                     280.0000    315.0000    325.0000    346.5000
Bahrain                    1814.0000   1695.0000   1990.0000   2167.0000
Bangladesh                 1321.0000   1524.0000   1684.0000   2118.0000
Barbados                    144.0000    396.0000    411.0000    419.0000
Belgium                   18414.0000  19897.0000  20245.0000  21090.0000
Belize                       32.0000     30.0000     33.0000     34.0000
Benin                        82.0000     82.0000     81.0000     99.0000
Bermuda                     170.0000    173.0000    180.0000    181.0000
Bhutan                       24.0000     25.0000     18.0000     22.0000
Bolivia (Plur. State of)    722.0000    755.0000    802.0000    857.0000
Botswana                     80.0000     88.0000    109.0000    122.0000
Brazil                    48666.0000  51037.0000  51865.0000  53629.0000
British Virgin Islands       13.0000     14.0000     15.0000     16.0000
Brunei Darussalam           442.0000    447.0000    473.0000    548.0000
Bulgaria                  10475.0000  10405.0000   9685.0000  10021.0000
Burkina Faso                 54.0000     55.0000     57.0000     58.0000
Burundi                      40.0000     48.0000     48.0000     50.0000
Cabo Verde                   16.6000     20.0000     22.0000     25.0000
...                              ...         ...         ...         ...
Kuwait                     8900.0000   5000.0000   7000.0000   7000.0000
Lao People's Dem. Rep.       77.6292    107.2819    119.5406    135.2636
Lebanon                    1100.0000   1500.0000   1600.0000   1784.0000
Lesotho                      48.0000     55.0000     62.0000     67.0000
Libya                      3056.0000   3143.0000   3313.0000   3415.0000
Luxembourg                  575.0000    601.0000    615.0000    646.0000
Madagascar                  129.8040    138.2450    145.3220    156.7870
Malawi                      105.0000    115.0000    134.9000    170.1000
Malaysia                   4075.0000   4375.0000   4740.0000   5043.0000
Maldives                     17.0000     18.0000     20.0000     22.0000
Mali                        105.0000    105.0000    108.0000    108.0000
Malta                       262.0000    270.0000    280.0000    283.0000
Martinique                  287.1000    286.4000    306.2000    330.6000
Mauritania                   54.5000     55.9000     59.6000     60.8000
Mauritius                   199.0000    220.0000    249.0000    274.0000
Mayotte                       9.0000     11.0000     13.5000     15.0000
Mexico                    20391.0000  21983.0000  24050.0000  25510.0000
Mongolia                    368.0000    343.0000    332.0000    320.0000
Montserrat                    2.0000      3.0000      3.0000      3.0000
Morocco                    2268.0000   2426.0000   2436.0000   2814.0000
Mozambique                  222.0000    258.0000    252.0000    285.0000
Myanmar                     628.0000    658.0000    766.0000    883.0000
Nauru                        12.0000     12.0000     13.0000     13.0000
Nepal                       234.0000    260.0000    275.0000    260.0000
Netherlands               15674.0000  16244.0000  16624.0000  17004.0000
New Zealand               10192.0000  10415.0000  10188.0000  10210.0000
Nicaragua                   369.0000    402.0000    433.0000    433.0000
Niger                       131.0100    126.4400    119.8500    122.6800
Nigeria                    3949.0000   4024.0000   4340.0000   5217.0000
Niue                          1.0000      1.0000      1.0000      1.1100

                                                                          \
Year                            1994        1995        1996        1997
Country or Area
Afghanistan                 200.0000    180.0000    162.0000    122.0000
Albania                     780.0000    883.0000   1175.0000   1105.0000
Algeria                    7608.0000   7966.0000   8438.0000   8541.0000
American Samoa               30.0000     34.0000     35.0000     37.0000
Andorra                      58.5000     59.9000     62.5000     62.2000
Angola                      441.0000    443.0000    474.0000    664.0000
Anguilla                      7.5000      6.4000      7.1000      8.1000
Antigua and Barbuda          26.0000     26.0000     30.0000     34.0000
Argentina                 15916.0000  17088.0000  17629.0000  18514.0000
Aruba                        93.0000     90.0000     91.0000     93.0000
Australia                 40562.0000  42163.0000  43203.0000  44776.0000
Austria                   12979.0000  13591.0000  14199.0000  13884.0000
Bahamas                     381.0000    398.0000    419.0000    446.0000
Bahrain                    2328.0000   2508.0000   2650.0000   2673.0000
Bangladesh                 2366.0000   2688.0000   3026.0000   3268.0000
Barbados                    429.0000    454.0000    464.0000    467.0000
Belgium                   21358.0000  22109.0000  23229.0000  22933.0000
Belize                       56.0000     60.0000     63.0000     74.0000
Benin                       110.0000    120.0000     85.0000    103.0000
Bermuda                     188.0000    194.0000    201.0000    204.0000
Bhutan                       17.0000     12.0000     26.0000     41.0000
Bolivia (Plur. State of)    951.0000   1036.0000   1083.0000   1171.0000
Botswana                    147.0000    161.0000    104.0000    190.0000
Brazil                    55952.0000  63581.0000  69056.0000  74071.0000
British Virgin Islands       18.0000     19.0000     21.0000     23.0000
Brunei Darussalam           575.0000    605.0000    640.0000    700.0000
Bulgaria                   9806.0000  10956.0000  11486.0000   9882.0000
Burkina Faso                 60.0000     31.1000     33.9000     38.9000
Burundi                      51.0000     52.0000     52.0000     53.0000
Cabo Verde                   28.0000     30.0000     32.0000     34.0000
...                              ...         ...         ...         ...
Kuwait                     9200.0000   9000.0000  10200.0000  11500.0000
Lao People's Dem. Rep.      144.9752    170.1908    192.6388    218.2867
Lebanon                    1680.0000   1806.0000   3671.0000   3050.0000
Lesotho                      74.0000     78.0000     81.0000    104.0000
Libya                      3335.0000   3290.0000   3176.0000   4173.0000
Luxembourg                  649.0000    661.0000    661.0000    634.0000
Madagascar                  162.3890    168.2700    182.6150    199.9600
Malawi                      152.4000    166.8000    187.3000    217.9000
Malaysia                   6800.0000   7010.0000   7532.0000   7900.0000
Maldives                     24.0000     26.0000     27.0000     31.0000
Mali                        108.0000    110.0000    112.0000    112.0000
Malta                       382.0000    400.0000    433.0000    462.0000
Martinique                  350.4000    378.7000    395.4000    418.6000
Mauritania                   63.0000     84.7000     96.3000     96.1000
Mauritius                   296.0000    334.0000    365.0000    395.0000
Mayotte                      18.0000     22.0000     24.0000     26.0000
Mexico                    27780.0000  28461.0000  28482.0000  29643.0000
Mongolia                    333.0000    330.0000    327.0000    278.0000
Montserrat                    3.0000      3.0000      3.0000      3.0000
Morocco                    3127.0000   3311.0000   3428.0000   3607.0000
Mozambique                  260.0000    272.0000    269.0000    304.0000
Myanmar                     980.0000   1026.0000   1054.0000   1207.0000
Nauru                        13.0000     14.0000     14.0000     14.0000
Nepal                       276.0000    309.0000    334.0000    352.0000
Netherlands               17574.0000  18085.0000  18361.0000  18729.0000
New Zealand               10389.0000  10530.0000  10899.0000  10859.0000
Nicaragua                   400.0000    408.0000    421.0000    459.0000
Niger                       123.7800    129.7600    100.6400     94.5100
Nigeria                    5037.0000   4950.0000   4538.0000   4452.0000
Niue                          1.1100      1.1100      1.1100      1.1100

                                                    ...                  \
Year                            1998        1999    ...            2008
Country or Area                                     ...
Afghanistan                 115.0000    100.0000    ...        300.0000
Albania                    1500.0000   2221.0000    ...       2325.5800
Algeria                    9586.0000  10569.0000    ...      19920.0000
American Samoa               38.0000     39.0000    ...         45.0000
Andorra                      65.4000     67.8000    ...         91.9000
Angola                      725.0000    735.0000    ...       2410.0000
Anguilla                      8.7000     11.0000    ...         22.9000
Antigua and Barbuda          38.0000     42.0000    ...         84.0000
Argentina                 19176.0000  20792.0000    ...      31367.0000
Aruba                        87.0000    150.0000    ...        278.2000
Australia                 46184.0000  47319.0000    ...      58088.0000
Austria                   13946.0000  14626.0000    ...      16675.0000
Bahamas                     522.0000    624.0000    ...        847.0000
Bahrain                    2984.0000   3091.0000    ...       5257.0000
Bangladesh                 3965.0000   4443.0000    ...       9005.0000
Barbados                    516.0000    544.0000    ...        299.8900
Belgium                   23388.0000  23482.0000    ...      19982.0000
Belize                       74.0000     81.0000    ...        224.0000
Benin                       105.0000    156.0000    ...        324.0000
Bermuda                     204.0000    212.0000    ...        269.0000
Bhutan                       31.0000     30.0000    ...        137.1000
Bolivia (Plur. State of)   1251.0000   1321.0000    ...       1876.0000
Botswana                    223.0000    280.0000    ...        745.1000
Brazil                    79378.0000  81291.0000    ...      95585.0000
British Virgin Islands       25.0000     27.0000    ...         85.9000
Brunei Darussalam           957.0000    782.0000    ...       1207.0000
Bulgaria                  10540.0000  10115.0000    ...      10027.0000
Burkina Faso                 42.1000     46.5000    ...        126.4000
Burundi                      53.0000     57.0000    ...         76.0000
Cabo Verde                   36.8000     42.0000    ...         84.6900
...                              ...         ...    ...             ...
Kuwait                    12920.0000  13154.0000    ...      21712.0000
Lao People's Dem. Rep.      252.2181    285.0532    ...        706.7363
Lebanon                    3640.0000   3648.0000    ...       4649.0000
Lesotho                      97.0000     95.0000    ...        145.9000
Libya                      5740.0000   5670.0000    ...       5222.0000
Luxembourg                  659.0000    659.0000    ...        776.0000
Madagascar                  225.2840    253.6260    ...        433.8060
Malawi                      245.0000    263.2000    ...        479.7000
Malaysia                  10158.0000  10286.0000    ...      19386.0000
Maldives                     35.0000     39.0000    ...        114.0000
Mali                        113.0000    113.0000    ...        171.0000
Malta                       500.0000    541.0000    ...        645.0000
Martinique                  419.7000    432.2000    ...        598.9000
Mauritania                   50.9200     93.5200    ...        208.1000
Mauritius                   431.0000    450.0000    ...        652.0000
Mayotte                      28.0000     38.0000    ...        132.8000
Mexico                    31690.0000  33371.0000    ...      47451.0000
Mongolia                    294.0000    300.0000    ...        742.0000
Montserrat                    4.0000      4.0000    ...          5.0000
Morocco                    3847.0000   3953.0000    ...       7141.0000
Mozambique                  337.0000    379.0000    ...        648.0000
Myanmar                    1132.0000   1106.0000    ...       1798.5100
Nauru                        14.0000     14.0000    ...          8.0000
Nepal                       418.0000    475.0000    ...        946.0000
Netherlands               19097.0000  19604.0000    ...      22501.0000
New Zealand               11102.0000  11088.0000    ...      12473.0000
Nicaragua                   450.0000    460.0000    ...        785.0000
Niger                       104.4000    107.9000    ...        279.8000
Nigeria                    4381.0000   4417.0000    ...      10240.0000
Niue                          1.1100      1.1100    ...          1.0000

                                                                       \
Year                               2009           2010           2011
Country or Area
Afghanistan                  300.000000    1387.000000    1620.000000
Albania                     2604.650000    2587.440000    2711.740000
Algeria                    10190.000000   11757.000000   12915.000000
American Samoa                42.700000      45.300000      41.800000
Andorra                       90.970000      96.419000      89.485000
Angola                      2746.000000    3108.000000    3232.000000
Anguilla                      23.200000      25.300000      24.300000
Antigua and Barbuda           88.000000     120.000000     117.000000
Argentina                  32331.000000   34241.000000   36257.000000
Aruba                        284.000000     293.000000     283.000000
Australia                  60059.000000   60656.000000   62537.000000
Austria                    17285.000000   17718.000000   17335.000000
Bahamas                      788.000000     765.000000     752.000000
Bahrain                     5405.000000    5966.000000    5871.000000
Bangladesh                  9778.000000   11114.000000   11847.000000
Barbados                     306.560000     308.370000     301.480000
Belgium                    20210.000000   20276.000000   19257.000000
Belize                       234.604167     241.784444     247.038333
Benin                        338.000000     349.000000     361.000000
Bermuda                      272.000000     277.000000     265.000000
Bhutan                       147.850000     154.470000     160.130000
Bolivia (Plur. State of)    1963.000000    2150.000000    2324.000000
Botswana                     768.700000     829.100000     873.000000
Brazil                    100638.000000  108457.000000  111971.000000
British Virgin Islands        89.800000      99.000000      91.400000
Brunei Darussalam           1224.000000    1181.000000    1202.000000
Bulgaria                   10302.000000   10559.000000   10912.000000
Burkina Faso                 141.400000     156.700000     170.400000
Burundi                       85.000000      98.000000      99.700000
Cabo Verde                    68.700000      85.450000      90.810000
...                                 ...            ...            ...
Kuwait                     22369.000000   24065.000000   24180.000000
Lao People's Dem. Rep.       813.580000     942.641000    1004.074000
Lebanon                     5009.000000    5752.000000    5847.000000
Lesotho                      161.700000     175.000000     215.200000
Libya                       6261.000000    6423.000000    5129.000000
Luxembourg                   904.000000     815.000000     852.000000
Madagascar                   419.190000     456.822000     483.228000
Malawi                       508.300000     581.500000     600.000000
Malaysia                   20837.000000   22527.000000   22944.000000
Maldives                     137.000000     111.000000     122.200000
Mali                         279.500000     306.600000     337.200000
Malta                        570.000000     590.000000     594.000000
Martinique                   607.600000     622.700000     616.600000
Mauritania                   206.100000     217.700000     246.700000
Mauritius                    680.000000     711.000000     725.000000
Mayotte                      157.000000     142.500000     145.700000
Mexico                     48540.000000   48700.000000   51771.000000
Mongolia                     727.600000     809.700000     829.500000
Montserrat                     5.000000       5.000000       5.392000
Morocco                     7387.000000    7823.000000    8430.000000
Mozambique                   751.000000     897.000000    1052.000000
Myanmar                     2015.130000    2653.330000    3380.970000
Nauru                          8.000000       9.000000       9.000000
Nepal                       1151.000000    1213.000000    1402.000000
Netherlands                22872.000000   22994.000000   23043.000000
New Zealand                12801.000000   12722.000000   12567.000000
Nicaragua                    779.000000     847.000000     920.000000
Niger                        357.600000     395.000000     443.761000
Nigeria                    10163.000000   11962.000000   13568.000000
Niue                           0.921111       1.022500       1.061944

                                                                       \
Year                               2012           2013           2014
Country or Area
Afghanistan                 1922.000000    1933.700000    2204.900000
Albania                     3052.330000    3859.530000    3500.000000
Algeria                    14764.000000   17181.000000   17579.000000
American Samoa                39.900000      40.546000      40.313000
Andorra                       92.249000      94.743000      93.012000
Angola                      3548.000000    4698.000000    5421.000000
Anguilla                      23.000000      22.500000      22.600000
Antigua and Barbuda           91.000000      94.000000      95.000000
Argentina                  38605.000000   40006.000000   43884.000000
Aruba                        285.000000     289.900000     289.700000
Australia                  61472.000000   60538.000000   58031.000000
Austria                    17808.000000   18344.000000   17529.000000
Bahamas                      684.000000     665.000000     692.000000
Bahrain                     6309.000000    6426.000000    6985.000000
Bangladesh                 13363.000000   14345.000000   15517.000000
Barbados                     300.610000     301.770000     300.720000
Belgium                    19848.000000   19810.000000   18917.000000
Belize                       252.579167     258.244167     264.036111
Benin                        372.000000     384.000000     384.000000
Bermuda                      250.000000     244.000000     236.000000
Bhutan                       182.090000     193.070000     210.960000
Bolivia (Plur. State of)    2447.000000    2601.000000    2806.000000

In [247]:
manufact = clean(df_elec,"Electricity - Consumption by manufacturing, construction and non-fuel industry")

/home/imanea/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [215]:
manufact

                             Quantity                                         \
Year                             1990         1991         1992         1993
Country or Area
Albania                     1400.0000    1056.0000    1242.0000     473.0000
Algeria                     5989.0000    5900.0000    6282.0000    6220.0000
American Samoa                 9.0000      10.0000      11.0000      26.0000
Andorra                        9.0000       9.0000       9.0000       8.7000
Angola                       200.0000     200.0000     200.0000     200.0000
Antigua and Barbuda           15.0000      14.0000      13.0000      12.0000
Argentina                  21388.0000   21376.0000   21934.0000   23582.0000
Australia                  59184.0000   59481.0000   60168.0000   62099.0000
Austria                    17344.0000   17774.0000   17214.0000   16943.0000
Bahamas                      485.0000     600.0000     602.0000     632.0000
Bangladesh                  2829.0000    3144.0000    3124.0000    3087.0000
Barbados                     283.0000      61.0000      58.0000      61.0000
Belgium                    30523.0000   31081.0000   32212.0000   31255.0000
Belize                        10.0000      10.0000      15.0000      21.0000
Benin                         50.0000      51.0000      51.0000      51.0000
Bhutan                       114.0000     122.0000     124.0000     132.0000
Bolivia (Plur. State of)     725.0000     760.0000     779.0000     906.0000
Botswana                     196.0000     225.0000     216.0000     241.0000
Brazil                    112339.0000  115041.0000  116586.0000  122462.0000
British Virgin Islands         2.0000       2.0000       2.0000       2.0000
Brunei Darussalam            423.0000     448.0000     479.0000     509.0000
Bulgaria                   19027.0000   13998.0000   11992.0000   10913.0000
Burkina Faso                  22.0000      23.0000      23.0000      25.0000
Burundi                       34.0000      38.0000      30.0000      30.0000
Cabo Verde                     7.0000       8.6000      10.3000      12.1000
Cambodia                       4.0000       4.0000       4.0000       5.0000
Cameroon                    1275.0000    1277.0000    1280.0000    1285.0000
Canada                    167944.0000  169499.0000  167459.0000  172940.0000
Cayman Islands                93.0000      90.0000      91.0000     103.0000
Central African Rep.          25.0000      27.0000      28.0000      28.0000
...                               ...          ...          ...          ...
Jamaica                      208.0000     289.0000     316.0000    2841.0000
Japan                     416320.0000  417089.0000  406211.0000  395883.0000
Jordan                      1160.0000    1181.0000    1343.0000    1366.0000
Kenya                       1754.0000    1832.0000    1835.0000    1915.0000
Korea, Dem.Ppl's.Rep.      11779.0000   11184.0000    9750.0000    8724.0000
Korea, Republic of         57791.0000   63405.0000   68349.0000   74305.0000
Lao People's Dem. Rep.        14.2762      20.0471      25.3798      32.1089
Lebanon                     1000.0000    1000.0000    1000.0000    1189.0000
Lesotho                       54.0000      52.0000      66.0000      86.0000
Libya                       1667.0000    2084.0000    2500.0000    2500.0000
Luxembourg                  2810.0000    2790.0000    2767.0000    2819.0000
Madagascar                   350.3890     335.0600     341.6910     354.8580
Malawi                       231.0000     400.0000     437.7000     420.1000
Malaysia                    9653.0000   10897.0000   13196.0000   15124.0000
Martinique                    60.7000      60.6000      64.8000      69.9000
Mauritania                   119.8000     122.9000     131.1000     133.8000
Mauritius                    212.0000     232.0000     254.0000     258.0000
Mexico                     53394.0000   56798.0000   57992.0000   59346.0000
Mongolia                    1910.0000    1775.0000    1720.0000    1660.0000
Montserrat                     2.0000       2.0000       2.0000       2.0000
Morocco                     3965.0000    4023.0000    4060.0000    4411.0000
Mozambique                   177.0000     311.0000     294.0000     266.0000
Myanmar                      862.0000     713.0000     766.0000     829.0000
Nepal                        207.0000     247.0000     274.0000     274.0000
Netherlands                33356.0000   33405.0000   33713.0000   33783.0000
New Caledonia                857.0000     869.0000     783.0000     941.0000
New Zealand                11197.0000   11476.0000   11399.0000   12279.0000
Nicaragua                    281.0000     333.0000     287.0000     245.0000
Niger                        121.0000     118.0000     123.0000     116.0000
Nigeria                     2016.0000    2042.0000    2177.0000    2067.0000

                                                                             \
Year                             1994        1995         1996         1997
Country or Area
Albania                      527.0000     506.000     741.0000     391.0000
Algeria                     6089.0000    6216.000    6259.0000    6302.0000
American Samoa                28.0000      30.000      32.0000      34.0000
Andorra                        9.0000       8.400       9.1000       9.7000
Angola                       201.0000     202.000     216.0000     303.0000
Antigua and Barbuda           12.0000      10.000      10.0000       8.0000
Argentina                  24618.0000   25866.000   27101.0000   29606.0000
Australia                  64593.0000   65103.000   65689.0000   67299.0000
Austria                    17677.0000   18225.000   17088.0000   17225.0000
Bahamas                      665.0000     679.000     711.0000     719.0000
Bangladesh                  3411.0000    3742.000    3973.0000    4182.0000
Barbados                      62.0000      68.000      71.0000      75.0000
Belgium                    33608.0000   34605.000   34498.0000   36421.0000
Belize                        37.0000      35.000      37.0000      29.0000
Benin                         70.0000      52.000      65.0000      70.0000
Bhutan                       228.0000     231.000     292.0000     300.0000
Bolivia (Plur. State of)     983.0000    1032.000    1106.0000    1155.0000
Botswana                     279.0000     339.000     199.0000     354.0000
Brazil                    126177.0000  127171.000  129755.0000  135521.0000
British Virgin Islands         2.0000       2.000       3.0000       3.0000
Brunei Darussalam            552.0000     565.000     575.0000     590.0000
Bulgaria                   11925.0000   12167.000   12258.0000   11812.0000
Burkina Faso                  28.0000      60.200      65.5000      75.2000
Burundi                       30.0000      32.000      33.0000      33.0000
Cabo Verde                    14.0000      14.600      14.9000      15.6000
Cambodia                       5.0000       6.000      14.0000      21.0000
Cameroon                    1292.0000    1295.000    1606.0000    1750.0000
Canada                    177534.0000  184783.000  185578.0000  188943.0000
Cayman Islands               119.0000     148.000     154.0000     169.0000
Central African Rep.          30.0000      30.000      30.0000      30.0000
...                               ...         ...          ...          ...
Jamaica                     2710.0000    3325.000    3443.0000    3567.0000
Japan                     406634.0000  400576.000  406970.0000  404252.0000
Jordan                      1434.0000    1592.000    1685.0000    1711.0000
Kenya                       1955.0000    1999.000    2147.0000    2261.0000
Korea, Dem.Ppl's.Rep.       9053.0000    8945.000    8216.0000    7379.0000
Korea, Republic of         83438.0000   93066.000  102880.0000  112207.0000
Lao People's Dem. Rep.        45.4194      64.480      79.9613      91.0868
Lebanon                     1157.0000    1243.000    1759.0000    2100.0000
Lesotho                       93.0000      94.000      95.0000     102.0000
Libya                       2778.0000    2778.000    2778.0000    2500.0000
Luxembourg                  3065.0000    3367.000    3225.0000    3408.0000
Madagascar                   349.1790     337.418     334.7040     357.7690
Malawi                       453.0000     460.700     425.7000     464.0000
Malaysia                   18188.0000   20015.000   22690.0000   28163.0000
Martinique                    74.1000      80.100      83.7000      88.6000
Mauritania                   138.6000     186.400     203.6000     204.6700
Mauritius                    277.0000     308.000     339.0000     365.0000
Mexico                     64466.0000   68459.000   59828.0000   66613.0000
Mongolia                    1700.0000    1105.000    1226.0000    1264.0000
Montserrat                     2.0000       2.000       2.0000       2.0000
Morocco                     4736.0000    4815.000    4969.0000    5259.0000
Mozambique                   244.0000     260.000     247.0000     291.0000
Myanmar                      843.0000     918.000     890.0000     914.0000
Nepal                        300.0000     328.000     358.0000     376.0000
Netherlands                36010.0000   36416.000   37619.0000   38503.0000
New Caledonia                977.0000    1014.000    1067.0000    1099.0000
New Zealand                12648.0000   12839.000   13038.0000   13397.0000
Nicaragua                    254.0000     299.000     345.0000     388.0000
Niger                        111.0000     123.000     162.5000     166.0000
Nigeria                     2044.0000    2037.000    2061.0000    2074.0000

                                                      ...                  \
Year                             1998         1999    ...            2008
Country or Area                                       ...
Albania                      361.0000     928.0000    ...         851.100
Algeria                     6277.0000    6574.0000    ...        9666.000
American Samoa                36.0000      38.0000    ...          40.600
Andorra                       10.6000      12.4000    ...          11.900
Angola                       331.0000     335.0000    ...        1122.000
Antigua and Barbuda            6.0000       4.0000    ...           5.000
Argentina                  31029.0000   31990.0000    ...       47444.000
Australia                  73153.0000   75710.0000    ...       78203.000
Austria                    17639.0000   18164.0000    ...       24749.000
Bahamas                      748.0000     755.0000    ...        1033.000
Bangladesh                  4837.0000    5329.0000    ...       16038.000
Barbados                      79.0000      89.0000    ...          61.630
Belgium                    37395.0000   37633.0000    ...       39019.000
Belize                        29.0000      30.0000    ...         159.000
Benin                         74.0000      91.0000    ...         141.000
Bhutan                       317.0000     325.0000    ...         869.580
Bolivia (Plur. State of)    1227.0000    1277.0000    ...        1683.000
Botswana                     831.0000     743.0000    ...        1186.200
Brazil                    136427.0000  138548.0000    ...      197218.000
British Virgin Islands         3.0000       3.0000    ...          10.000
Brunei Darussalam            604.0000     579.0000    ...         185.000
Bulgaria                   10688.0000    8465.0000    ...       10441.000
Burkina Faso                  81.4000      89.2000    ...         132.000
Burundi                       34.0000      35.0000    ...          62.000
Cabo Verde                    16.0000      19.0000    ...          21.940
Cambodia                      32.0000      46.0000    ...         278.000
Cameroon                    1310.0000    1437.0000    ...        2712.000
Canada                    191896.0000  196506.0000    ...      192235.000
Cayman Islands               181.0000     192.0000    ...         300.000
Central African Rep.          31.0000      30.0000    ...          44.000
...                               ...          ...    ...             ...
Jamaica                     3732.0000    3807.0000    ...        1228.200
Japan                     386298.0000  392191.0000    ...      355195.000
Jordan                      1808.0000    1826.0000    ...        3024.000
Kenya                       2137.0000    2342.0000    ...        3341.000
Korea, Dem.Ppl's.Rep.       6395.0000    7019.0000    ...        8668.000
Korea, Republic of        104804.0000  116287.0000    ...      200292.000
Lao People's Dem. Rep.       107.5983     114.7895    ...         703.230
Lebanon                     2506.0000    2512.0000    ...        3201.000
Lesotho                      101.0000      99.0000    ...         191.200
Libya                       2500.0000    2778.0000    ...        3176.000
Luxembourg                  3527.0000    3683.0000    ...        3602.000
Madagascar                   369.8260     377.6570    ...         523.439
Malawi                       432.0000     456.3000    ...         519.800
Malaysia                   28021.0000   30113.0000    ...       42851.000
Martinique                    88.8000      91.4000    ...         126.700
Mauritania                   202.6000     154.0000    ...         275.400
Mauritius                    394.0000     415.0000    ...         698.300
Mexico                     70749.0000   75897.0000    ...      119740.000
Mongolia                    1210.0000    1225.0000    ...        1918.000
Montserrat                     6.0000       6.0000    ...           9.000
Morocco                     5570.0000    4945.0000    ...        8222.000
Mozambique                   376.0000     422.0000    ...        9025.000
Myanmar                      956.0000    1158.0000    ...        2902.750
Nepal                        441.0000     508.0000    ...         846.000
Netherlands                39260.0000   39873.0000    ...       41988.000
New Caledonia               1129.0000    1141.0000    ...        1258.900
New Zealand                13122.0000   13588.0000    ...       14222.000
Nicaragua                    309.0000     338.0000    ...         787.000
Niger                        167.0000     172.0000    ...         202.749
Nigeria                     1918.0000    1855.0000    ...        3502.000

                                                                       \
Year                               2009           2010           2011
Country or Area
Albania                      829.130000    1034.890000    1052.950000
Algeria                    10116.000000   12700.000000   13138.000000
American Samoa                36.600000      20.600000      22.400000
Andorra                       10.800000       9.900000       9.100000
Angola                      1278.000000    1578.000000    1643.000000
Antigua and Barbuda            6.100000       8.000000       8.000000
Argentina                  45520.000000   48331.000000   50458.000000
Australia                  78708.000000   82103.000000   81502.000000
Austria                    23882.000000   25835.000000   26401.000000
Bahamas                      987.000000    1094.000000    1130.000000
Bangladesh                 17568.000000   19595.000000   21251.000000
Barbados                      62.560000      62.760000      85.960000
Belgium                    32676.000000   38137.000000   37261.000000
Belize                        28.130556     111.986944     117.400833
Benin                        128.000000     152.000000     128.000000
Bhutan                      1109.690000    1322.400000    1364.730000
Bolivia (Plur. State of)    1756.000000    1717.000000    1734.000000
Botswana                    1123.200000    1141.200000    1117.000000
Brazil                    186741.000000  203351.000000  209390.000000
British Virgin Islands        10.000000      10.000000      10.000000
Brunei Darussalam            190.000000     180.000000     226.000000
Bulgaria                    8393.000000    7818.000000    8422.000000
Burkina Faso                 149.000000     316.500000     328.500000
Burundi                       70.000000      82.000000      80.200000
Cabo Verde                    21.510000      20.010000      17.950000
Cambodia                     323.000000     379.000000     430.000000
Cameroon                    2720.000000    2781.000000    2573.000000
Canada                    172606.000000  175480.000000  174962.000000
Cayman Islands               299.000000     295.000000     299.000000
Central African Rep.          44.000000      44.000000      49.000000
...                                 ...            ...            ...
Jamaica                     1131.400000    1058.700000    1020.000000
Japan                     337245.000000  356428.000000  339023.000000
Jordan                      2907.000000    3242.000000    3446.000000
Kenya                       3375.000000    3401.000000    3636.000000
Korea, Dem.Ppl's.Rep.       7892.000000    8092.000000    7181.000000
Korea, Republic of        199326.000000  228120.000000  246046.000000
Lao People's Dem. Rep.       760.200000     707.000000     740.390000
Lebanon                     3448.000000    3961.000000    4026.000000
Lesotho                      209.400000     208.500000     220.600000
Libya                       1934.000000    2079.000000    1660.000000
Luxembourg                  3099.000000    3625.000000    3577.000000
Madagascar                   481.189000     489.151000     500.763000
Malawi                       553.100000     556.100000     616.800000
Malaysia                   43244.000000   52715.000000   47017.000000
Martinique                   128.500000     131.700000     130.500000
Mauritania                   276.300000     301.200000     308.700000
Mauritius                    659.200000     685.500000     681.600000
Mexico                    114201.000000  122713.000000  134551.000000
Mongolia                    1883.100000    2093.800000    2140.800000
Montserrat                     9.000000       9.000000       9.000000
Morocco                     8505.000000    9008.000000    9555.000000
Mozambique                  8466.000000    8574.000000    8681.000000
Myanmar                     2928.230000    3658.750000    4335.890000
Nepal                        960.000000    1002.000000    1124.000000
Netherlands                36565.000000   39210.000000   39122.000000
New Caledonia               1330.400000    1498.600000    1589.400000
New Zealand                13609.000000   14726.000000   14709.000000
Nicaragua                    792.000000     928.000000    1010.000000
Niger                        191.600000     195.877000     225.225000
Nigeria                     3109.000000    3249.000000    3699.000000

                                                                     \
Year                               2012           2013         2014
Country or Area
Albania                     1191.840000    1387.560000    1466.1700
Algeria                    14961.000000   15670.000000   16020.0000
American Samoa                22.500000      23.087000      23.1420
Andorra                        8.600000       9.500000       7.6000
Angola                      1804.000000    2389.000000    2757.0000
Antigua and Barbuda            8.000000       8.000000       9.0000
Argentina                  50535.000000   52859.000000   51397.0000
Australia                  80016.000000   79645.000000   79483.0000
Austria                    26549.000000   26466.000000   25196.0000
Bahamas                     1047.000000    1049.000000    1108.0000
Bangladesh                 22215.000000   24056.000000   25585.0000
Barbados                      75.910000      72.880000      78.5700
Belgium                    37490.000000   37787.000000   37786.0000
Belize                       123.473611     129.860278     136.5775