### Energy consumption per country for different sectors

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
dataPath ='\\'.join(os.getcwd().split("\\")[:-1])+"\\data\\"

In [3]:
df_elec = pd.read_csv(dataPath+"Electricity.csv")
df_oil = pd.read_csv(dataPath+"Oil.csv")
df_gaz = pd.read_csv(dataPath+"NaturalGaz.csv")

In [4]:
def clean(df,commodity,limit = 27):
    table = df[df["Commodity - Transaction"] == commodity]
    table.set_index("Country or Area")
    table.Year = table.Year.astype(int)
    df_table = table.pivot_table(values = ["Quantity"], index=['Country or Area'], columns=['Year'])
    df_table = df_table.dropna(thresh = limit)
    return df_table

pd.options.mode.chained_assignment = None

In [5]:
commodities_elec = np.unique(df_elec["Commodity - Transaction"].values)
commodities_oil = np.unique(df_oil["Commodity - Transaction"].values)
commodities_gaz = np.unique(df_gaz["Commodity - Transaction"].values)
commodities_oil

array(['Conventional crude oil -  losses',
       'Conventional crude oil - consumption by agriculture, forestry and fishing',
       'Conventional crude oil - consumption by commerce and public services',
       'Conventional crude oil - consumption by construction',
       'Conventional crude oil - consumption by food and tobacco',
       'Conventional crude oil - consumption by households',
       'Conventional crude oil - consumption by industries not elsewhere specified',
       'Conventional crude oil - consumption by iron and steel',
       'Conventional crude oil - consumption by machinery',
       'Conventional crude oil - consumption by mining and quarrying',
       'Conventional crude oil - consumption by non-ferrous metals',
       'Conventional crude oil - consumption by non-metallic minerals',
       'Conventional crude oil - consumption by other',
       'Conventional crude oil - consumption by other consumers not elsewhere specified',
       'Conventional crude oil - consumption by other transportation',
       'Conventional crude oil - consumption by paper, pulp and print',
       'Conventional crude oil - consumption by pipeline transport',
       'Conventional crude oil - consumption by textile and leather',
       'Conventional crude oil - consumption by transport',
       'Conventional crude oil - consumption by transport equipment',
       'Conventional crude oil - consumption by wood and wood products',
       'Conventional crude oil - energy industries own use',
       'Conventional crude oil - exports',
       'Conventional crude oil - final consumption',
       'Conventional crude oil - final energy consumption',
       'Conventional crude oil - imports',
       'Conventional crude oil - non-energy use',
       'Conventional crude oil - other energy industry own use',
       'Conventional crude oil - other transformation',
       'Conventional crude oil - own use by electricity, CHP and heat plants',
       'Conventional crude oil - own use by oil and gas extraction',
       'Conventional crude oil - own use by oil refineries',
       'Conventional crude oil - production',
       'Conventional crude oil - production from off-shore',
       'Conventional crude oil - stock changes',
       'Conventional crude oil - total energy supply',
       'Conventional crude oil - transfers and recycled products',
       'Conventional crude oil - transformation',
       'Conventional crude oil - transformation in CHP plants - autoproducers',
       'Conventional crude oil - transformation in CHP plants - main activity producers',
       'Conventional crude oil - transformation in electricity plants - autoproducers',
       'Conventional crude oil - transformation in electricity plants - main activity producers',
       'Conventional crude oil - transformation in electricity, CHP and heat plants',
       'Conventional crude oil - transformation in heat plants - autoproducers',
       'Conventional crude oil - transformation in oil refineries',
       'Conventional crude oil - transformation in petrochemical plants',
       'Crude petroleum - consumption by chemical and petrochemical',
       'Crude petroleum - consumption by manufacturing, construction and non-fuel mining industry',
       'Crude petroleum - consumption by other manufacturing, construction and non-fuel mining industry',
       'Crude petroleum - other reserves',
       'Crude petroleum - refinery capacity',
       'Crude petroleum - reserves',
       'Crude petroleum - reserves from oil shale',
       'Crude petroleum - reserves from oil shale and tar sands',
       'Crude petroleum - reserves from tar sands', 'Estimate',
       'Footnote'], dtype=object)

#### Sectors chosen: 
- Food and tobacco 
- Transport
- Households
- Consumption by agriculture, forestry and fishing

#### Energy 1: Electricity

In [6]:
food_elec = clean(df_elec,"Electricity - Consumption by food and tobacco")
transport_elec = clean(df_elec,"Electricity - Consumption by transport equipment")
household_elec = clean(df_elec,"Electricity - Consumption by households")

#### Energy 2: Oil

In [7]:
food_oil = clean(df_oil,"Conventional crude oil - consumption by food and tobacco",25)
transport_oil = clean(df_oil,"Conventional crude oil - consumption by transport equipment",15)
household_oil = clean(df_oil,"Conventional crude oil - consumption by households",12)

#### Energy 3: Natural Gaz

In [8]:
food_gaz = clean(df_gaz,"Natural Gas (including LNG) - consumption by food and tobacco")
transport_gaz = clean(df_gaz,"Natural Gas (including LNG) - consumption by transport equipment")
household_gaz = clean(df_gaz,"Natural gas (including LNG) - consumption by households")

In [15]:
print(food_elec.shape)
print(transport_elec.shape)
print(household_elec.shape)

(18, 28)
(13, 27)
(119, 28)

In [16]:
print(food_oil.shape)
print(transport_oil.shape)
print(household_oil.shape)

(1, 25)
(0, 5)
(1, 12)

In [17]:
print(food_gaz.shape)
print(transport_gaz.shape)
print(household_gaz.shape)

(19, 28)
(12, 27)
(38, 28)

In [18]:
household_elec[household_elec]

                 Quantity                                                    \
Year                 1990      1991      1992      1993      1994      1995
Country or Area
Afghanistan        282.00    250.00    205.00    203.00    200.00    180.00
Albania            300.00    312.00    479.00    800.00    780.00    883.00
Algeria           6056.00   6422.00   7119.00   7125.00   7608.00   7966.00
American Samoa      24.00     28.00     26.00     29.00     30.00     34.00
Andorra             60.00     60.00     60.00     60.20     58.50     59.90
...                   ...       ...       ...       ...       ...       ...
New Zealand      10192.00  10415.00  10188.00  10210.00  10389.00  10530.00
Nicaragua          369.00    402.00    433.00    433.00    400.00    408.00
Niger              131.01    126.44    119.85    122.68    123.78    129.76
Nigeria           3949.00   4024.00   4340.00   5217.00   5037.00   4950.00
Niue                 1.00      1.00      1.00      1.11      1.11      1.11

                                                         ...            \
Year                 1996      1997      1998      1999  ...      2008
Country or Area                                          ...
Afghanistan        162.00    122.00    115.00    100.00  ...    300.00
Albania           1175.00   1105.00   1500.00   2221.00  ...   2325.58
Algeria           8438.00   8541.00   9586.00  10569.00  ...  19920.00
American Samoa      35.00     37.00     38.00     39.00  ...     45.00
Andorra             62.50     62.20     65.40     67.80  ...     91.90
...                   ...       ...       ...       ...  ...       ...
New Zealand      10899.00  10859.00  11102.00  11088.00  ...  12473.00
Nicaragua          421.00    459.00    450.00    460.00  ...    785.00
Niger              100.64     94.51    104.40    107.90  ...    279.80
Nigeria           4538.00   4452.00   4381.00   4417.00  ...  10240.00
Niue                 1.11      1.11      1.11      1.11  ...      1.00

                                                                       \
Year                     2009        2010          2011          2012
Country or Area
Afghanistan        300.000000   1387.0000   1620.000000   1922.000000
Albania           2604.650000   2587.4400   2711.740000   3052.330000
Algeria          10190.000000  11757.0000  12915.000000  14764.000000
American Samoa      42.700000     45.3000     41.800000     39.900000
Andorra             90.970000     96.4190     89.485000     92.249000
...                       ...         ...           ...           ...
New Zealand      12801.000000  12722.0000  12567.000000  12511.000000
Nicaragua          779.000000    847.0000    920.000000    995.000000
Niger              357.600000    395.0000    443.761000    504.642000
Nigeria          10163.000000  11962.0000  13568.000000  14549.000000
Niue                 0.921111      1.0225      1.061944      1.081111


Year                     2013          2014          2015       2016      2017
Country or Area
Afghanistan       1933.700000   2204.900000   2220.200000   2729.900       NaN
Albania           3859.530000   3500.000000   3191.000000   2587.300       NaN
Algeria          17181.000000  17579.000000  19672.000000  20210.000  21776.00
American Samoa      40.546000     40.313000     45.000000     45.500       NaN
Andorra             94.743000     93.012000     93.576000     96.068    100.26
...                       ...           ...           ...        ...       ...
New Zealand      12336.000000  12376.000000  12575.000000  12308.000       NaN
Nicaragua         1036.000000   1070.000000   1093.000000   1075.000       NaN
Niger              524.975000    536.006000    581.501000    584.000       NaN
Nigeria          13458.000000  14003.000000  14378.000000  14760.000       NaN
Niue                 1.088611      1.048056      1.101111      1.150       NaN

[119 rows x 28 columns]

In [30]:
print(household_elec[household_elec == 'Country or Area'])

                Quantity                                               ...  \
Year                1990 1991 1992 1993 1994 1995 1996 1997 1998 1999  ...
Country or Area                                                        ...
Afghanistan          NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...
Albania              NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...
Algeria              NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...
American Samoa       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...
Andorra              NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...
...                  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
New Zealand          NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...
Nicaragua            NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...
Niger                NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...
Nigeria              NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...
Niue                 NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...


Year            2008 2009 2010 2011 2012 2013 2014 2015 2016 2017
Country or Area
Afghanistan      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
Albania          NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
Algeria          NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
American Samoa   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
Andorra          NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
...              ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
New Zealand      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
Nicaragua        NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
Niger            NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
Nigeria          NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
Niue             NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[119 rows x 28 columns]

In [39]:
df=household_elec.reset_index()
df['Country or Area']

0         Afghanistan
1             Albania
2             Algeria
3      American Samoa
4             Andorra
            ...
114       New Zealand
115         Nicaragua
116             Niger
117           Nigeria
118              Niue
Name: Country or Area, Length: 119, dtype: object