# Projet Hackathon : Quelle(s) énergie(s) pour demain ?

## Imports

In [3]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
import os
sns.set()

## Open datas

In [12]:
dataPath ='/'.join(os.getcwd().split("/")[:-1])+"/data/"

In [25]:
data = pd.read_excel(dataPath+"bp-stats-review-2019-all-data.xlsx", 2)

In [26]:
data

,Primary Energy: Consumption by fuel*,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Contents,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Contents.1
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NaN,NaN,NaN,NaN,NaN,NaN,2018,NaN,NaN
1,Million tonnes oil equivalent,Oil,Natural Gas,Coal,Nuclear energy,Hydro electric,Renew- ables,Total,Oil,Natural Gas,Coal,Nuclear energy,Hydro electric,Renew- ables,Total,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,108.797,94.3248,18.6142,22.7201,89.7186,9.5223,343.697,109.974,99.516,14.4209,22.6364,87.6252,10.2514,344.424,NaN,NaN
4,Mexico,85.8198,74.2852,15.198,2.46252,7.20633,4.32881,189.301,82.824,76.9507,11.9026,3.07476,7.33021,4.83149,186.914,NaN,NaN
5,US,901.997,635.806,331.263,191.726,67.1599,94.5282,2222.48,919.73,702.588,317.01,192.233,65.327,103.753,2300.64,NaN,NaN
6,Total North America,1096.61,804.416,365.076,216.909,164.085,108.379,2755.48,1112.53,879.055,343.333,217.944,160.282,118.835,2831.98,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Argentina,32.037,41.5305,1.07698,1.37756,9.40014,0.681459,86.1037,30.1138,41.8781,1.21736,1.5551,9.42423,0.863866,85.0524,NaN,NaN
9,Brazil,136.095,32.3577,16.5698,3.56139,83.9269,21.378,293.889,135.914,30.8605,15.912,3.53718,87.7239,23.6473,297.595,NaN,NaN
10,Chile,17.6731,4.82768,7.71192,0,4.82548,3.27028,38.3085,18.1453,5.5148,7.68275,0,5.237,3.5174,40.0972,NaN,NaN
11,Colombia,16.4507,10.455,5.17849,0,12.975,0.451267,45.5105,16.5697,11.2018,5.87387,0,12.8178,0.485196,46.9483,NaN,NaN
12,Ecuador,11.2849,0.707856,0,0,4.54555,0.12258,16.6609,12.212,0.608112,0,0,4.68302,0.123595,17.6268,NaN,NaN
13,Peru,12.0025,5.79817,0.58137,0,6.57884,0.438517,25.3994,12.3881,6.05358,0.940755,0,6.96219,0.659194,27.0038,NaN,NaN
14,Trinidad & Tobago,2.12049,13.1233,0,0,0,0.000902627,15.2447,2.10207,13.1583,0,0,0,0.000902627,15.2612,NaN,NaN
15,Venezuela,22.1361,33.3725,0.112039,0,17.9856,0.00226458,73.6084,19.5003,28.7263,0.100892,0,16.3108,0.00226458,64.6405,NaN,NaN
16,Other S. & Cent. America,67.3565,6.24298,3.53463,0,22.779,5.18979,105.103,68.3189,6.7699,4.31149,0,22.3175,6.07114,107.789,NaN,NaN
17,Total S. & Cent. America,317.156,148.416,34.7652,4.93895,163.017,31.535,699.828,315.264,144.771,36.0391,5.09227,165.476,35.3709,702.014,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Austria,13.1003,7.79867,3.11711,0,8.68214,2.82491,35.5231,13.4085,7.46941,2.85624,0,8.49161,2.77004,34.9958,NaN,NaN
20,Belgium,33.7367,14.1113,3.12313,9.55487,0.0611169,3.521,64.1082,34.0786,14.5091,3.27683,6.44351,0.0644455,3.81677,62.1892,NaN,NaN
21,Czech Republic,10.3815,7.20101,15.5916,6.41254,0.423021,1.7534,41.7631,10.6298,6.86399,15.7492,6.77044,0.368195,1.73698,42.1186,NaN,NaN
22,Finland,10.2601,1.57605,4.00093,5.13859,3.33932,3.77357,28.0885,10.7479,1.75733,4.27097,5.21362,3.00443,4.27227,29.2665,NaN,NaN
23,France,79.0558,38.4916,9.27,90.138,11.1376,9.38466,237.478,78.8654,36.7258,8.382,93.4905,14.5322,10.6004,242.596,NaN,NaN
24,Germany,118.995,77.1536,71.5331,17.2703,4.55944,44.3925,333.904,113.194,75.9176,66.3992,17.2195,3.82405,47.3347,323.889,NaN,NaN
25,Greece,15.9695,4.14557,4.7962,0,0.896626,2.22621,28.0341,15.9505,4.07105,4.66021,0,1.29433,2.35092,28.327,NaN,NaN
26,Hungary,8.32292,8.54182,2.24171,3.64248,0.0497805,0.734715,23.5334,8.8496,8.26326,2.18864,3.55999,0.0500068,0.807363,23.7188,NaN,NaN
27,Italy,61.9951,61.5467,9.622,0,7.77769,15.3186,156.26,60.7825,59.5134,8.87768,0,10.3752,14.9376,154.486,NaN,NaN
28,Netherlands,39.6083,31.0332,9.1478,0.769896,0.0137478,3.93096,84.5039,40.8897,30.6917,8.18525,0.790655,0.0163705,4.21466,84.7883,NaN,NaN
29,Norway,10.051,3.94216,0.818002,0,32.1209,0.702528,47.6345,10.4117,3.85454,0.844724,0,31.3382,0.931945,47.3811,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,Other Africa,92.433,34.7211,7.02817,0,24.6773,2.16919,161.029,95.5085,36.4068,7.04153,0,26.3909,2.40689,167.755,NaN,NaN
67,Total Africa,192.099,121.041,97.6261,3.56527,28.1889,6.08642,448.606,191.327,128.969,101.436,2.50949,30.0586,7.21276,461.513,NaN,NaN
68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,Australia,51.1027,35.4619,45.0665,0,3.06253,5.81354,140.507,53.3332,35.5947,44.2765,0,3.9073,7.21522,144.327,NaN,NaN
70,Bangladesh,7.85209,22.9218,1.9027,0,0.232957,0.0629297,32.9725,9.00186,24.3899,2.13208,0,0.200397,0.0706689,35.7949,NaN,NaN
71,China,610.684,206.74,1890.43,56.1388,263.626,111.417,3139.03,641.212,243.333,1906.72,66.6063,272.08,143.509,3273.47,NaN,NaN
72,China Hong Kong SAR,21.904,2.6794,6.2741,0,0,0.0232176,30.8807,22.1826,2.59445,6.2741,0,0,0.0231955,31.0744,NaN,NaN
73,India,227.107,46.2043,415.943,8.46596,30.6984,21.6697,750.088,239.051,49.9483,452.221,8.8362,31.6033,27.4929,809.153,NaN,NaN
74,Indonesia,79.2997,33.1465,57.1759,0,4.21596,3.02834,176.866,83.4091,33.5111,61.558,0,3.71345,3.33827,185.53,NaN,NaN
75,Japan,187.806,100.59,119.945,6.57873,17.9309,22.3586,455.21,182.365,99.4911,117.473,11.1115,18.3276,25.373,454.141,NaN,NaN
76,Malaysia,35.9571,35.9331,19.3124,0,5.22516,0.298694,96.7265,36.8848,35.4905,21.1222,0,5.47054,0.331274,99.2992,NaN,NaN
77,New Zealand,8.5191,4.29179,1.24913,0,5.69887,2.40866,22.1676,8.41016,3.73929,1.26573,0,5.95564,2.368,21.7388,NaN,NaN
78,Pakistan,29.1912,35.0297,7.09848,1.8937,6.89664,0.878994,80.9887,24.3383,37.4716,11.5946,2.23549,8.14522,1.2476,85.0327,NaN,NaN
79,Philippines,21.739,3.24542,15.477,0,2.17342,3.07235,45.7072,21.9594,3.51574,16.2778,0,2.12331,3.15477,47.031,NaN,NaN
80,Singapore,74.7826,10.5655,0.8982,0,0,0.240238,86.4865,75.821,10.5643,0.912613,0,0,0.268585,87.5664,NaN,NaN
81,South Korea,129.962,42.7828,86.1767,33.5853,0.635527,3.97639,297.118,128.877,48.1032,88.2102,30.2091,0.660812,4.96184,301.022,NaN,NaN
82,Sri Lanka,5.42767,0,1.37863,0,0.908483,0.133759,7.84854,5.34214,0,1.18083,0,1.44123,0.141285,8.10548,NaN,NaN
83,Taiwan,50.1192,19.9872,39.4289,5.07886,1.23247,1.19371,117.04,50.0455,20.3458,39.2989,6.26384,1.01057,1.45421,118.419,NaN,NaN
84,Thailand,64.3573,43.0643,18.3273,0,1.06059,3.38146,130.191,65.785,42.9355,18.5027,0,1.71901,4.02777,132.97,NaN,NaN
85,Vietnam,23.6383,8.18632,27.8993,0,16.0381,0.0756868,75.8377,24.8512,8.28921,34.2791,0,18.2618,0.105835,85.7871,NaN,NaN
86,Other Asia Pacific,21.8882,9.8119,16.8643,0,13.5925,0.213196,62.3701,22.492,10.3322,18.042,0,14.2354,0.281921,65.3835,NaN,NaN
87,Total Asia Pacific,1651.34,660.642,2770.84,111.741,373.229,180.247,5748.04,1695.36,709.65,2841.35,125.262,388.856,225.365,5985.84,NaN,NaN
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,Total World,4607,3141.89,3718.44,597.136,919.908,490.221,13474.6,4662.05,3309.42,3772.1,611.267,948.795,561.25,13864.9,NaN,NaN
90,of which: OECD,2196.46,1435.23,892.858,443.409,314.61,304.297,5586.87,2204.77,1505.21,861.282,446.07,321.269,330.427,5669.03,NaN,NaN
91,Non-OECD,2410.54,1706.66,2825.58,153.727,605.298,185.924,7887.74,2457.28,1804.21,2910.81,165.196,627.526,230.823,8195.85,NaN,NaN
92,European Union,649.512,400.447,234.201,187.813,67.4327,152.386,1691.79,646.769,394.205,222.367,187.219,78.0226,159.641,1688.22,NaN,NaN
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,"* In this review, primary energy comprises co...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,^ Less than 0.05.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN